* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Roboto', sans-serif;
  }
  
.error-message {
    color: red;
}

.hidden {
  display: none;
}

form{
  display: flex;
  justify-content: space-evenly ;
}
  
.results-ctnr{
  display: flex;
  justify-content: space-evenly ;
  text-align: center;
}
