* {
    box-sizing: border-box;
  }
body {
    font-family: 'Rubik', sans-serif;
    color: #168767;
    background-color: #ffffff;
  }
.error-message {
    color: red;
}

.hidden {
  display: none;
}

.start{
  display: flex;
  justify-content: space-evenly ;
}
  
.results-ctnr{
  display: flex;
  justify-content: space-evenly ;
  text-align: center;
  margin: 10px
}

img{
  width: 90%;
  height: auto;
  border: 1px solid #168767;
  margin-bottom: 5px;
  margin-top: 5px;
}

h1{
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  padding: 10px;
  text-align: center;
}

h2{
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

h3{
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  height: 40px;
  padding: 3px;
}

p{
  margin: 3px;
}

.js-intro{
  padding: 10px;
  text-align: center;
}

button{
  font-family:'Rubik', sans-serif;
  font-size: 15px;
  padding: 5px;
  margin: 15px;
  background-color: white;
  color: #168767;
  border: 2px solid #168767;
  border-radius: 8px;
}

button:hover{
  background-color: #168767;
  color: white;
}

.vl{
  border-left: 4px solid #168767;
  height: 275px;
  margin-top: 15%;
  margin-bottom: 15%;
}

a{
  text-decoration: none;
  color: #168767;
}

a:hover {
  text-decoration: underline;
}

hr{
  display: none
}

@media only screen and (max-width: 430px) {
  .results-ctnr{
    flex-direction: column;
  }

  h2{
    font-size: 20px;
  }

  .vl{
    border-left: none;
    border-top: 2px solid #168767;
    margin-left: 20%;
    margin-right: 20%;
    /*width: 300px;*/
    height: 0px;
    margin-top: 15px;
    display: inline-block;
    margin-bottom: 0px;
  }

  hr{
    display: block;
    width: 75%;
    border: 1px solid #168767;
  }

  h3{
    font-size: 15px;
  }

  p, button, a{
    font-size: 12px;
  }
}